.section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.section-container {
  width: 70%;
  display: flex;
  flex-direction: row;
}
.api-table {
  width: 50%;
}
table {
  max-width: 100%;
}
tbody {
  justify-content: space-between;
  display: table-row-group;
}
.table-one-call {
  border-collapse: collapse;
  justify-content: space-between;
  width: 70%;
}
.api-table p {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.table-one-call tr {
  width: 100%;
  padding: 5px;
  font-size: 14px;

  border-bottom: 1px solid #eb6e4b;
}
.api-table a {
  text-decoration: none;
  color: #48484a;
}
.api-table h2 :hover {
  text-decoration: underline;
}
.table-one-call td {
  padding: 5px;
}
.table-one-call th {
  color: #78cbbf;

  text-align: left;
  padding: 2pt;
}
.desktop-only {
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-only img{

  display: none;
}
@media all and (max-width: 960px) {
  .section-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .table-one-call {
    width: 100%;
  }
}
