.section-content {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container {
  width: 70%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.grid-section {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.orange-text {
  color: #eb6e4b;
  font-size: 14px;
}
.city-date h2 {
  font-size: 25px;
  font-weight: 700;
  color: #48484a;
  margin: 0;
  padding: 0;
}
.fa-cloud {
  color: gray;
}
.map-section {
  width: 60%;
  height: 50vh;
  display: flex;
}

.bold {
  font-size: 14px;
}
.current-temp {
  height: 60px;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
}
.v1 {
  border-left: 1px solid red;
}
.heading {
  font-size: 35px;
  font-weight: 300;
  color: #48484a;
  padding: 10px;
}
.items-line {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}
.weather-item {
  display: block;
  width: 100%;
  justify-content: flex-start;
}
.weather-item li {
  display: inline-block;
  width: 35%;
  font-size: 14px;
}
.graph-section{
  height: 320px;
  width: 100%;
  background-color: yellow;

}
.grid-section2{
    flex-direction: row;
    display: flex;
    justify-content: end;
    width: 70%;
}
.day-forecast{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.day-list{
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
}
.day-list-values{
    /* background-color: red; */
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.sub{
    font-size: 10px;
    color: #8a8a8a;
}
li span{
    font-size: 14px;
    color: #48484a;
}
.fa-caret-down{
    color: black;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.day-list li{
    display: flex;
    height: 40px;
    padding: 2pt 4pt;
    justify-content: start;
    align-items: center;
    width: 80%;
}
.day-list :hover{
    cursor: pointer;
    background-color:rgba(72,72,74,.05);
    border-radius: 4pt;
}
@media all and (max-width: 960px) {
  .main-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid-section {
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }
  .grid-section2{
    flex-direction: column;
    display: flex;
    justify-content: end;
    width: 100%;
}
  .weather-item {
    display: block;
    width: 100%;
    text-align: center;
  }
  .map-section {
    width: 100%;
    height: 50vh;
    display: flex;
  }
  .day-forecast{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .v1 {
    display: none;
  }
}
