.navbar {
  display: flex;
  height: 48pt;
  width: 100%;
  padding-left: 8px 32px;
  background-color: #48484a;
}
.navbar-logo {
  align-items: center;
  display: flex;
}
.navbar-logo img {
  width: 70pt;
  height: 30pt;
}
form {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
#input-text {
  height: 30px;
  width: 150px;
  margin-left: 14pt;
  border: none;
  font-size: 14px;
  background-color: #48484a;
}
ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  list-style: none;
  align-items: center;
}
.nav-links {
  text-decoration: none;
  font-size: 1.1vw;
  color: #f2f2f2;
}
.menu-icon {
  display: none;
}
@media all and (max-width: 960px) {
  .menu-icon {
    position: absolute;
    display: flex;
    color: white;
    top: 0;
    right: 0;
    transform: translate(-100%, 100%);
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #48484a;
    top: 54px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #48484a;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-links {
    font-size: 14px;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    cursor: pointer;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 30%);
  }
}
