.navbar {
  display: flex;
  height: 48pt;
  width: 100%;
  position: fixed;
  padding-left: 8px 32px;
  z-index: 999;
  background-color: #48484a;
}
.navbar-logo {
  align-items: center;
  display: flex;
}
.navbar-logo img {
  width: 70pt;
  height: 30pt;
}
form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  margin-bottom: 0;
}
.autocomplete {
  position: relative;
}
.suggestions {
  background-color: #48484a;
  margin-left: 20px;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}
.suggestions li {
  color: white;
}
#input-text {
  height: 30px;
  width: 150px;
  margin-left: 14pt;
  border: none;
  color: white;
  font-size: 14px;
  background-color: #48484a;
}
ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  list-style: none;
  align-items: center;
}
.nav-links {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
  color: #f2f2f2;
}
.menu-icon {
  display: none;
}
@media all and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 64px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    overflow-y: hidden;
    position: fixed;
    transition: all 0.5s ease;
    z-index: 1;
  }

  /* .nav-links {
    text-align: center;
    width: 100%;
    display: table;
  } */

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .suggestions {
    background-color: #48484a;
    margin-left: 20px;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
    width: 90%;
    overflow-y: auto;
  }

  .fa-times {
    color: #fff;
    font-size: 1.5rem;
  }
  .fa-bars {
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
